@media screen and (min-width: 1025px) {
	.container {
		width: 1000px;
	}

	.main-third-heading {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.navigation .container .list-items {
		gap: 80px;
	}

	.experts .main-second-heading {
		margin-bottom: 50px;
	}

	.offer .container .offer-boxes {
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 60px;
		justify-content: center;
	}

	div .offer-boxes {
		padding-top: 30px;
	}

	.offer h2 {
		color: ivory;
	}

	.footer-part .container {
		display: flex;
		flex-direction: row;
		gap: 20px;
	}

	.footer-paragraph {
		font-size: 18px;
		color: #a0a5aa;
	}

	.footer-list {
		width: 400px;
		justify-content: flex-end;
	}
}
