/* TABLET: */

@media screen and (min-width: 769px) {
	.container {
		width: 90%;
	}

	.header-main-heading {
		font-size: 60px;
	}

	.main-second-heading {
		font-size: 24px;
	}

	.main-third-heading {
		font-size: 22px;

		margin-bottom: 20px;
	}

	.container {
		width: 90%;
	}

	.navigation .container {
		justify-content: space-between;
	}

	.navigation .container .list-items {
		display: flex;
		gap: 50px;
		color: #fff;
	}
	.go-button {
		color: #fff;
		text-decoration: none;
	}

	.expert {
		display: flex;
		flex-direction: row;
		gap: 100px;
	}

	.shadow .container {
		text-align: left;
	}

	.experts .main-second-heading {
		color: #565151;
		text-align: left;
		margin-bottom: 30px;
	}

	.expert {
		flex-direction: row;
		align-items: center;
		gap: 100px;
	}

	.reversed {
		flex-direction: row-reverse;
	}

	.expert .woman-image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		border: 2px solid goldenrod;

		object-position: top;

		margin: 20px;
	}
}
