@media screen and (min-width: 769px) {
	.container {
		width: 90%;
	}

	.main-second-heading {
		font-size: 36px;
	}

	.main-third-heading {
		font-size: 22px;
	}

	.navigation .container {
		justify-content: space-between;
	}

	.nav-items-container {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
		font-size: 18px;
	}

	.go-button {
		cursor: pointer;
		text-decoration: none;
		color: #fff;
	}

	.disabled-button {
		cursor: not-allowed;
	}

	.company-offer-button:hover {
		background-color: #fff;
		color: black;
		cursor: pointer;
	}

	.experts .main-second-heading {
		color: #565151;
		text-align: left;
		margin-bottom: 30px;
	}

	.expert {
		flex-direction: row;
		align-items: center;
		gap: 50px;
	}

	.reversed {
		flex-direction: row-reverse;
	}

	.expert .woman-image {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin: 20px;
	}

	.offer-boxes div:hover {
		transform: scale(1.05);
		cursor: pointer;
	}
}
