* {
	box-sizing: border-box;
}

html {
	font-family: roboto, arial, sans-serif;
	font-weight: 400;
	color: #fff;
	scroll-behavior: smooth;
}

.container {
	width: 95%;
	margin: 0 auto;
}

.navigation {
	width: 100%;
	height: 70px;
	background-color: goldenrod;
	display: flex;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

.navigation .container {
	display: flex;
	justify-content: left;
	align-items: center;
}

.brand {
	display: flex;
	justify-content: left;
	align-items: center;
}

.nav-items-container {
	display: none;
}

.header-main-heading {
	font-size: 36px;
	font-weight: 700;
}

.main-second-heading {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 60px;
}

.main-third-heading {
	font-size: 18px;
	font-weight: 700;
	color: #565151;
	margin-top: 10px;
	margin-bottom: 20px;
}

.header-part {
	position: relative;
	width: 100%;
	height: calc(100vh - 70px);
}

.header-part .image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.shadow .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	text-align: left;
	gap: 30px;
}

.header-promiss {
	font-weight: 700;
}

.company-offer-button {
	width: fit-content;
	background-color: transparent;
	border: 3px solid white;
	color: #fff;
	padding: 14px 60px;
	font-size: 18px;
	letter-spacing: 5px;
	text-decoration: none;
	font-weight: 700;
	transition: 1s;
}

.experts {
	margin: 50px 0;
}

.experts .experts-list {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.expert {
	display: flex;
	flex-direction: column;
}

.expert .woman-image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid goldenrod;
	display: flex;
	object-position: top;
	object-fit: cover;
	margin: 20px;
	margin: 30px auto;
}

.team-info {
	color: #565151;
	font-size: 18px;
	text-align: justify;
}

.experts .main-second-heading {
	color: #565151;
	text-align: center;
	margin-bottom: 30px;
}

.offer {
	background-color: #405d78;
	padding: 65px 0;
	margin-top: 50px;
}

.main-second-heading-offer {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 60px;
}

.offer .container .offer-boxes {
	display: flex;
	flex-direction: column;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 20px;
}

.offer-boxes div {
	width: 200px;
	height: 200px;
	background-color: rgb(255, 198, 55);
	margin: 15px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-direction: column;
	transition: 1s;
}

.offer-boxes {
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-weight: 400;
	color: #405d78;
}

.mentoring {
	position: relative;
}

.mentoring .special-box-circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: magenta;
	position: absolute;
	top: -30px;
	left: -15px;
}

.offer-boxes .learning-riding {
	gap: 0;
}

.footer-part {
	width: 100%;
	height: 100%;
	background-color: #222;
}

.footer-part .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.footer-paragraph {
	font-size: 18px;
	color: #a0a5aa;
	text-align: center;
}

.footer-list {
	display: flex;
	justify-content: center;
	gap: 30px;
	width: 100%;
	color: white;
	margin: 15px 0;
}
